.outerdivforgotpassword{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.forgotpassword_title{
    font-size: 30px;
    font-weight: 600;
    margin-left: 5vw;
    margin-bottom: 20px;
}
.forgotpassword_form{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 20px
}
label{
    font-size: 20px;
    color: #fcfdd5;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #d3c100;
    outline:#d3c100;
}
input:focus{
    border: 1px solid #f8ab05;
    transition: 0.1s;
}
.forgotpassword_button{
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    background-color: #d3c100;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
